@media screen and (max-width: 480px) {    
    * {

    }
    
    :root {
      
    }
    
    .cabecalho {
      
    }
    
    .cabecalho img{
        display: block;
    }
    
    .cabecalho__titulo {
    }
    
    
    .menu {
        display: none;
    }
    
    
    .menu__lista {
      
    }
    
    .menu__lista a {
      
    }
    
    main {
      
    }
    
    .hero {
      flex-direction: column;
      gap: 4rem;
    }
    
    .hero__texto {
      align-items: center;
    }
    
    .hero__titulo {
      width: 23.625rem;
      font-size: 2.5rem;
      text-align: center;
    }
    
    .hero__paragrafo {
        width: 23.625rem;
        font-size: 1rem;
        text-align: center;
    }
    
    .hero__botao {
      
    }
    
    .hero__botao a {
      
    }
    
    .hero__img {
    }
    
    .companies {
    }
    
    .companies__texto {
    }
    
    .companies__container {
        width: 23.75rem;
        height: 5.375rem;

    }

    .companies__container img {
        width: 4.375rem;
        height: 1.5rem;
    }
    
    .branding {
        flex-direction: column-reverse;
    }
    
    .branding__img {
        /* width: 23.4375rem;
        height: 24rem; */
    }
    
    .branding__texto {
        align-items: center;
    }
    
    .branding__titulo {
        width: 23.75rem;
        font-size: 2rem;
        text-align: center;
    }
    
    .branding__paragrafo {
        width: 23.75rem;
        font-size: 0.875rem;
        text-align: center;
    }
    
    .custome {
        flex-direction: column;
    }
    
    .custome__texto {
        align-items: center;
    }
    
    .custome__titulo {
        width: 23.75rem;
        font-size: 2rem;
        text-align: center;
    }
    
    .custome__paragrafo {
        width: 23.75rem;
        font-size: 0.875rem;
        text-align: center;
    }
    
    .custome__img {
    }
    
    .testimonial {
    }
    
    .testimonial__paragrafo {
    }
    
    .testimonial__titulo {
        font-size: 2rem;
        width: 20.75rem;
    }
    
    .testimonial__container {
    }
    
    .testimonial__card {
    }
    
    .card__titulo {
        font-family: Inter;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.71875rem;
        text-transform: capitalize;
        color: var(--cinza-principal);
    }
    
    .card__info {
        width: 17.5625rem;
        text-align: center;
        font-family: Inter;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 300;
        line-height: 1.71875rem;
        text-transform: capitalize;
        color: var(--cinza-principal);
    }
    
    .contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    
    .contact__img {
    }
    
    .contact__texto {
    }
    
    .contact__titulo {
    }
    
    .contact__paragrafo {
    }
    
    .contact__botao {
    }
    
    .rodape {
    }
    
    .rodape__infos {
    }
    
    .rodape__lista {
    }
    
    .lista__titulo {
    }
    
    .lista__texto {
    }
    
    .rodape__texto {
    }
}
