.contato {
    display: flex;
    justify-content: space-around;
    padding: 4em 0;
    align-items: center;
}

.contato__formulario {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

input, select {
    padding: 1em;
}

.botao {
    background-color: var(--laranja);
    color: var(--branco);
    border: none;
    cursor: pointer;
}

table, tr, td {
    border: 1px solid var(--laranja);
    padding: 0.5em 2em;
    text-align: center;
}
