.servicos {
    display: flex;
    justify-content: space-around;
}

.servicos__card {
    background-color: var(--branco);
    color: var(--preto);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
    border-radius: 2em;
}

.card__titulo, .card__texto--destaque {
    font-weight: bold;
}

/* .card__texto {

} */
