img {
  width: 300px;
}

.cor-vermelha {
  color: red;
}

.cor-verde {
  color: green;
}

button {
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  background-color: blue;
  color: white;
  padding: 10px;
  cursor: pointer;
}